img {float: left;}
#header { border: thin solid black; background-color: #02874d;
  color: white; padding-left: 15%;}

.clearfix { clear: both; }

#header h1 { float: left;}
#header-left { float: left; width: 20%; }
#header-right { float: left; width: 80%; padding-top: 15px;; }

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #02874d;
}
li {
    float: left;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.imagen-pino {
  width: 100%;
  background-image: url("fondo-pino.jpg");
  height: 350px;
}


.centered {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 50px;
    transform: translate(-50%, -50%);
}



.pagefoot {
    background: orange;
    width: 100%;
    text-align: center;
}


.pagefoot ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #83603f;
      text-align: center;
}

.pagefoot ul li {
    list-style: none;
      text-align: center;

}

.pagefoot ul li a {
    text-decoration: none;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 20px;
    color: white;
    text-align: center;

}

.pagefoot ul li a:hover {
    color: white;
    text-align: center;

}

.pagefoot li {

  text-align: center;



}


.imagefoot {

width: 94,5%;
margin: 0 auto;
background-image: url("hola.png");
height: 222px;
color: white;
font-size: 27px;
padding-left:170px;
}

.footer-column { width: 25%; float: left;}


.pagefoot img  {

width: 2%;
background-image: url("tete.png");
}
