nav .wrapper {
    align-items: center;
    background-color: #02874d;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-width: 990px;
    max-width: 1300px;
    position: relative;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}
